.stand {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;

}

.inputs {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.buttons {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-bottom: 20px;
}

.inputText {
    font-size: 22px;
    font-family: SansSerif serif;
}
.spanError {
    font-size: 30px;
    font-weight: bold;
    font-family: Arial serif;
}