.friendMessage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: inherit;
    margin: 55px 10px 72px 70px;
}

.friendImageAndText {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    /*border: 1px solid red;*/
}

.friendImageAndText img {

}

.friendText {
    /*svg под текстом более белая серая */
    position: absolute;
    margin-left: 60px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*border: 1px solid #c700ff;*/
}

.friendText:after {


}

.friendName {
    color: #000;
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.friendMessageText {
    color: #000;
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.friendTime {
    display: flex;
    justify-content: start;
    margin: 5px 9px 0 10px;
    /*border: 1px solid #c700ff;*/

    color: #000;
    font-family: Montserrat sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}