.greetingForm {
}

.inputAndButtonContainer {
}

.error {
    color: red;
}

.input {
    border-color: #37ff00;
}

.input:focus {
}

.errorInput {
    border-color: red;
}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
